*{
    background-color: black;
}
.center{
    text-align: center;
    margin: 45px 0 0;
}
.img{
    border: 5px solid white;
    width: 500px;
}
.text{
    text-transform: uppercase;
    color: white;
    font-family: "Libre Baskerville", serif;

}
.text-1{
    color: white;
}
